################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SchoolWebsite/FileContentIndex
/.vs/SchoolWebsite/FileContentIndex
/.vs/SchoolWebsite/v17
